<template>
  <aside class="aside">
    <p class="aside__title">Выберите город</p>
    <form @submit.prevent="getCities">
      <div class="search">
        <input
          v-model="query"
          class="search__field"
          type="text"
          placeholder="Введите название города"
          @input="city = null"
        />
        <button class="search__reset" type="button" @click="resetCity">
          &#10005;
        </button>
      </div>

      <div v-if="!city" class="search__results">
        <div
          class="search__results-item"
          v-for="city in results"
          :key="city.id"
          @click="setCity(city)"
        >
          {{ city.name }}
        </div>
      </div>
    </form>
    <div v-if="weather" class="weather">
      <p class="aside__title">{{ weatherAddress }}</p>
      <div class="weather__main">
        <img
          class="weather__icon"
          :src="`http://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png`"
        />
        <span class="weather__temp-value">{{
          formatTemperature(weather.main.temp)
        }}</span>
        <span class="weather__temp-celsius"> <sup>o</sup>C</span>
      </div>
    </div>
  </aside>
</template>

<script>
import { getCitesList } from '@/api/controllers/cities'
import {
  getWeatherByCityId,
  getWeatherByCoords,
} from '@/api/controllers/weather'
import { ref, watch } from 'vue'

export default {
  props: {
    coords: {
      type: Array,
      default: () => [],
    },
    address: {
      type: String,
      default: '',
    },
  },

  setup(props, context) {
    const query = ref('')
    const weatherAddress = ref('')
    const results = ref([])
    const searchTimeout = ref(false)
    const city = ref(null)
    const weather = ref(null)

    async function getCities() {
      if (query.value.length < 3) return

      const response = await getCitesList(query.value)
      results.value = response
    }

    async function setCity(payload) {
      city.value = payload
      query.value = payload.name
      weatherAddress.value = payload.name

      context.emit('choosen', payload)

      const response = await getWeatherByCityId(payload.id)
      weather.value = response
    }

    function resetCity() {
      city.value = null
      query.value = ''
      results.value = []
    }

    function formatTemperature(value) {
      return parseInt(value - 272.15)
    }

    watch(query, getCities)
    watch(
      () => props.address,
      () => {
        weatherAddress.value = props.address
      }
    )
    watch(
      () => props.coords,
      async (coords) => {
        const response = await getWeatherByCoords(coords)

        weather.value = response
      }
    )

    return {
      query,
      weatherAddress,
      results,
      searchTimeout,
      city,
      weather,
      getCities,
      setCity,
      resetCity,
      formatTemperature,
    }
  },
}
</script>

<style scoped>
.aside {
  padding: 0 16px;
}

.aside__title {
  font-size: 20px;
  margin-top: 32px;
}

.search {
  margin-top: 16px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ccc;
}

.search__reset {
  height: 37px;
  width: 37px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.search__field {
  width: calc(100% - 37px);
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  border: none;
}

.search__results {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.search__results-item {
  width: 100%;
  text-align: left;
  padding: 8px;
}

.search__results-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.weather {
  width: 100%;
}

.weather__temp-value {
  font-size: 32px;
}

.weather__temp-celsius {
  font-size: 26px;
}

.weather__main {
  display: flex;
  align-items: center;
}

.weather__icon {
  margin-right: 15px;
  width: 40px;
}
</style>
