<template>
  <div ref="mapContainer" class="map"></div>
</template>

<script>
import { yandexMap as yandexMapController } from '@/api/controllers/map'
// import { getWeatherByCoords } from '@/api/controllers/weather'
import { ref, onMounted, watch } from 'vue'

export const config = {
  center: [59.936634, 30.371276],
  zoom: 10,
  controls: [],
}

export default {
  props: {
    config: {
      type: Object,
      default: config,
    },
  },
  setup(props, context) {
    const mapContainer = ref()
    const yandexMap = ref()

    const yandexMapApi = yandexMapController.init()

    async function createMap() {
      const api = await yandexMapApi
      const map = new api.Map(mapContainer.value, props.config)

      map.events.add('click', async (e) => {
        const coords = e.get('coords')

        const res = await api.geocode(coords)
        const firstGeoObject = res.geoObjects.get(0)
        let address = firstGeoObject.getAddressLine()

        address = address.split(',').slice(0, 2).join(',')

        context.emit('map-click', { coords, address })
      })

      return map
    }

    onMounted(() => {
      yandexMap.value = createMap()
    })

    watch(props.config, async (config) => {
      const map = await yandexMap.value
      map.setCenter(config.center)
    })

    return { mapContainer, yandexMap }
  },
}
</script>
