<template>
  <div class="container">
    <Aside
      @choosen="onCityChoosen"
      :coords="weatherCoords"
      :address="weatherAddress"
    />
    <Map :config="mapConfig" @map-click="handleMapClick" />
  </div>
</template>

<script>
import Aside from '@/components/Aside.vue'
import Map, { config as defaultMapConfig } from '@/components/Map.vue'

import { ref } from 'vue'

export default {
  name: 'App',
  components: {
    Aside,
    Map,
  },
  setup() {
    const weatherCoords = ref([])
    const weatherAddress = ref('')
    const mapConfig = ref(defaultMapConfig)

    function onCityChoosen(city) {
      mapConfig.value.center = [city.coord.lat, city.coord.lon]
    }
    function handleMapClick({ coords, address }) {
      weatherCoords.value = coords
      weatherAddress.value = address
    }

    return {
      onCityChoosen,
      handleMapClick,
      weatherCoords,
      weatherAddress,
      mapConfig,
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 420px 1fr;
}
</style>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  justify-content: center;
}
</style>
